body {
    overflow-x: hidden;
    background-color: #f5f3f3;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color:#000000 !Important;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;

}

#wrapper.toggled #page-content-wrapper {
    position: absolute;

}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    right:15px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #08770a;
    background: #312A25;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #08770a;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 100px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 40px;
        
        
    }

#wrapper.toggled span {
        visibility:hidden;
        
    }
  #wrapper.toggled   i {
 float:right;
 } 

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


@media(max-width:414px) {

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right:60px;
}

#wrapper.toggled {
    padding-right: 60px;
}

 #wrapper {
        padding-left: 20px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 140px;
        
        
    }
    
    #wrapper.toggled span {
        visibility:visible;
        position:relative;
        left:70px;
        bottom:13px;
        
    }

#wrapper span {
        visibility:hidden;
        
    }
  #wrapper.toggled   i {
 float:right;
 } 
 
  #wrapper   i {
 float:right;
 } 

    #page-content-wrapper {
        padding: 5px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}

#img-navbar{
    margin-top: 20px;
    margin-left: 40px;
}

.pagina-cad{
    color: black;
}

/* Labels */

#lblidt{
    margin-left: 200px;
}
#lblcpf{
    margin-left: 100px;
}
#lblnasc{
    margin-left: 120px;
}
#lbltipagem{
    margin-left: 60px;
}
#lblemail{
    margin-left: 100px;
}
#lblende{
    margin-left: 260px;
}
#lbltelpai{
margin-left: 220px;
}
#lblmae{
    margin-left: 90px;
}
#lbltelmae{
    margin-left: 220px;
}
/* Inputs */
#txtnome{
width: 260px;
}
#txtidt{
    margin-left: 46px;
    width: 100px;
}
#txtcpf{
margin-left: 70px;
width: 100px;
}
#txtnasc{
    margin-left: 50px;
}
#txtts{
    margin-left: 70px;
    width: 50px;
}
#txtescolaridade{
    width: 200px;
}
#txttel{
width: 140px;
}
#txtemail{
    margin-left: 16px;
    width: 260px;
}
#txtende{
    margin-left: 40px;
    width: 500px;
}
#txtra{
    width: 300px;
}
#txtpai{
    width: 260px;
}
#txttelpai{
    width: 140px;
    margin-left: 50px;
}
#txtmae{
    width: 260px;
    margin-left: 50px;
}
#txttelmae{
    margin-left: 50px;
    width: 140px;
}

/* Button */
#btnregistrar {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #btnregistrar {
    transition-duration: 0.4s;
  }
  
  #btnregistrar:hover {
    background-color: #d2d3d2; /* Green */
    color: white;
  }
